[user]
	email = aristides.papadopoulos@gmail.com
	name = apapad
[core]
	editor = vim
	autocrlf = input
	whitespace = cr-at-eol
[push]
	default = matching
[credential]
        helper = cache --timeout=3600

